<div id="rail-footer">
	<div class="footer-badges" > 
	</div><!-- footer-badges -->
  	<div class="rail-footer-info"> 
  		<ul class="menu">
  			<li class="first"><a href="/rportal/web/guest/legal">Legal Notices</a></li> 
  			<li><a href="/rportal/web/guest/privacy">Privacy Rights</a></li>
  			<li><a href="/rportal/web/guest/contactus">Contact Us</a></li> 
  			<li class="last"><a href="/rportal/web/guest/terms">Terms of Service</a></li>
  		</ul>
	  	<div id="copyright"> Copyright © {{year}} Railinc. All rights reserved. </div>
	</div>
</div>