<div class="container">
<div class="card">
    <div class="row-fluid">  
      <div class="page-header span12">
      <h3 align="center">Home</h3>
    <p>The Inspection Quality platform is focused on the data and process to record and measure wheel temperatures to provide information related to the braking effectiveness of a train. It also records bearing temepratures to enable hot box detector (HBD) data sharing among the railroads. 
     The Detector Registry is a tool to support a Reads Repository based on the Wayside Detector Standards. The Inspection Quality platform provides an industry-wide capability for developing standards for tracking detector health, and helps identify problems and troubleshoot detectors that may not be performing properly. 
     At this time, the Detector Registry includes Wheel Temperature Detectors (WTDs), Hot Box Detectors (HBDs) and Automatic Equipment Identification (AEI) detectors. 
     New detectors will be included in the detector registry database, which will provide flexibility and configurability to identify detectors, monitor data passing through detectors, and apply appropriate rules across detectors and equipment.
	</p>
	<p>Another component of the Inspection Quality platform is the Wayside Analysis tool which provides a graphical representation of a single train passing as read by a Wheel Temperature Detector (WTD) so that you can view the temperature of a train&#39;s wheels in relation to the overall temperature of the train&#39;s wheels, and thereby enables insight into how each wheel is performing. 
	   For example, a wheel that is colder than the rest of the wheels may not be contributing sufficiently during braking. 
	   A wheel that is hotter than the rest of the wheels may indicate a potential safety issue such as a stuck handbrake.
	</p> 
	<p>You can also view a graphical representation of bearing temperatures for a train passing received from wayside bearing detectors and analyze this information to gain insight into how bearings are performing and identify outliers. 
	</p>
	<p>Subscription Service can be used to submit subscription requests to receive train passing data from the hot box detectors owned by other railroads. The owner railaroads can approve or reject the subscription requests. They can also view the requests for hot box detectors owned by their railroad that have been approved  under Approved subscriptions page.
	</p>
  </div>
</div>
</div>
</div>
	